@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover-text-shadow:hover {
  text-shadow: 4px 4px 30px rgba(207, 188, 185, 0.9);
}

.rfm-initial-child-container {
  gap: 20px;
}